<%- include("header") %>
<div style="border: 2px ; height: 500px; width: 1000px;">
    <h1>Add Product</h1>
    <form action="addItemSubmit" method="post">
    <table align="center" class="table table-bordered">
        <tr>
            <td>Product Name</td>
            <td><input type="text" name="pName" required /></td>
        </tr>
        <tr>
            <td>Product Description</td>
            <td><textarea name="pDescription" required></textarea></td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td><input type="number" name="pPrice" required /></td>
        </tr>
    
        <tr>
            <td>Product Quantity</td>
            <td><input type="number" name="pQuantity" required /></td>
        </tr>
        <tr>
            <td>Product Category</td>
            <td><input type="text" name="pCategory" required /></td>
        </tr>
        
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit" />
            </td>
        </tr>
        </table>
    </form>
    </div>
    <div style="border:2px ;height:500px;width:1000px;">
        <h1>Product List</h1>
        <table align="center" class="table table-stripped">
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product Quantity</th>
                <th>Product Category</th>
                
               
            </tr>
            <% for(let x of itemData){ %>
                <tr>
                    <td>
                        <%= x.pName %>
                    </td>
                    <td>
                        <%= x.pDescription %>
                    </td>
                    <td>
                        <%= x.pPrice %>
                    </td>
                    <td>
                        <%= x.pSold %>
                    </td>
                    <td>
                        <%= x.pQuantity %>
                    </td>
                    <td>
                        <%= x.pCategory %>
                    </td>
                    <td>
                        <%= x.pOffer %>
                    </td>
                    <td>
                        <%= x.pRating %>
                    </td>
                    <td>
                        <%= x.pStatus %>
                    </td>
                    <td><a href="/editItem?itemid=<%= x._id %>">Edit</a> | <a
                            href="/deleteItem?itemid=<%= x._id %>">Delete</a></td>
                </tr>
                <% } %>
        </table>
    </div>

    <%- include("footer") %>